<div class="row">
    <div class="col-9">&nbsp;</div>
    <div class="col-3 float-right">
      <select class="form-control my-2 font-md float-right" name="interval" (change)="onIntervalChange($event.target.value)">
        <option *ngFor="let interval of intervals" [value]="interval.key">{{interval.value}}</option>
      </select>
    </div>
  </div>
<div class="row">
    <div class="col-6 mb-4">
        <h5>Processor Load</h5>
        <div class="chart-wrapper">
            <div class="w-100 text-center py-2 border-bottom" *ngIf="loading">
              <div class="spinner-border spinner-border-sm text-warning" role="status">
                <span class="sr-only">Loading...</span>
              </div> Fetching...
            </div>
            <canvas baseChart 
                *ngIf="cpuChartData && cpuChartData[0].data.length > 0 "
                [datasets]="cpuChartData" 
                [labels]="cpuChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType">
            </canvas>
            <ng-container *ngIf="!loading && cpuChartData[0].data.length == 0">
                    <div class="graph-no">No Data Found for "Processor Load"</div>
                </ng-container>
        </div>
    </div>
    <div class="col-6 mb-4">
        <h5>Disk Read Operation </h5>
        <div class="chart-wrapper">
            <div class="w-100 text-center py-2 border-bottom" *ngIf="loading">
                <div class="spinner-border spinner-border-sm text-warning" role="status">
                <span class="sr-only">Loading...</span>
                </div> Fetching...
            </div>
            <canvas baseChart 
                *ngIf="diskChartData && diskChartData[0].data.length > 0"
                [datasets]="diskChartData" 
                [labels]="diskChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType">
            </canvas>
            <ng-container *ngIf="!loading && diskChartData[0].data.length == 0">
                <div class="graph-no">No Data Found for "Disk IOPs Read"</div>
            </ng-container>
        </div>
    </div>
    
    <div class="col-6 mb-4">
            <h5>Disk Write Operation </h5>
        <div class="chart-wrapper">
            <div class="w-100 text-center py-2 border-bottom" *ngIf="loading">
                <div class="spinner-border spinner-border-sm text-warning" role="status">
                <span class="sr-only">Loading...</span>
                </div> Fetching...
            </div>
            <canvas baseChart 
                *ngIf="optChartData && optChartData[0].data.length > 0 "
                [datasets]="optChartData" 
                [labels]="optChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType">
            </canvas>
            <ng-container *ngIf="!loading && optChartData[0].data.length == 0">
                <div class="graph-no">No Data Found for "Disk IOPs Write"</div>
            </ng-container>
        </div>
    </div>
    
    <div class="col-6 mb-4" *ngFor="let network of networkChartData">
        <div class="w-100 text-center py-2 border-bottom" *ngIf="loading">
            <div class="spinner-border spinner-border-sm text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div> Fetching...
        </div>
        <h5>Network Traffic ({{network.title}}) </h5>
        <div class="chart-wrapper">
            
            <canvas baseChart 
                *ngIf="networkChartData && networkChartData[0].data.length > 0 "
                [datasets]="network.data" 
                [labels]="network.label" 
                [options]="lineChartOptionsforNetwork"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType">
            </canvas>
            <ng-container *ngIf="!loading && networkChartData[0].data.length == 0">
                <div class="graph-no">No Data Found for "Network Traffic {{network.title}}"</div>
            </ng-container>
        </div>
    </div>
</div>